<a href="{{ url }}" class="bg-white w-full h-full border-gray-400 shadow hover:shadow-lg transition rounded-xl transform transition duration-200 hover:scale-105">
   

    <div class="rounded-t-xl overflow-hidden">
        <img src="{{ featured_image }}" alt="{{ featured_image:alt }}" class="transform transition duration-200 hover:scale-110"> 
    </div>
    <div class=" container flex justify-between mx-auto rounded-xl ">
        <article class="w-full p-4">        
            <div class="float-right mt-0.5 ml-4">
                {{ partial:color_tag }}
            </div>
            <h2 class="text-2xl font-normal">{{ title }}</h2>

            <div class="container flex mt-2 justify-between w-full">
                <p class="flex text-sm text-right text-gray-600">💧 {{ date }}</p>
            </div>
        </article>
    </div>
</a>