{{ collection:drops limit="1" as="posts" }}
    {{ posts }}
        <div class=" md:grid md:grid-cols-12 mb-4 mt-16">
            <div class="z-10 col-start-11 lg:col-start-10 text-right col-span-2 row-start-1 transform -translate-y-7 -translate-x-3">
                <a href="" class="hover:text-purple-500 tracking-widest text-sm font-light">LATEST DROP</a>
            </div>
            <div class="relative my-auto z-10 md:col-start-1 md:row-start-1 md:col-span-4 md:py-2 md:bg-transparent">
                <div class="max-w-md mx-auto px-4  md:max-w-none md:p-0">
                    <div class="aspect-w-10 aspect-h-6 md:aspect-w-1">
                        <a href="{{ url }}" class="bg-white w-full h-full border-gray-400 shadow hover:shadow-lg rounded-xl transform transition hover:scale-105 duration-200 ">
                            <div class="rounded-xl transform transition hover:scale-110 hover:-rotate-1 duration-200">
                                <img src="{{ hp-image }}" alt="" class=""> 
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        
            <div class="relative bg-gray-500 bg-opacity-10 rounded-xl grid grid-cols-12 md:col-start-3 md:row-start-1 md:col-span-10 lg:col-start-3 lg:col-span-9 md:items-center">
                <div class="hidden absolute inset-0 overflow-hidden rounded-xl md:block" aria-hidden="true">
                    <svg class="absolute bottom-full left-full transform translate-y-1/3 -translate-x-2/3 xl:bottom-auto xl:top-0 xl:translate-y-0" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
                        <defs>
                            <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                               <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                            </pattern>
                        </defs>
                        <rect width="404" height="384" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)" />
                    </svg>
                    <svg class="absolute top-full transform -translate-y-1/3 -translate-x-1/3 xl:-translate-y-1/2" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
                        <defs>
                            <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                            </pattern>
                        </defs>
                        <rect width="404" height="384" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)" />
                    </svg>
                </div>
                <div class="relative max-w-md pb-12 pt-10 px-20 space-y-6 sm:max-w-3xl  md:max-w-none md:col-start-3 md:col-span-10">    
                    <div class="text-4xl font-thin text-gray-800 -mb-5" id="join-heading">{{ title }}
                    </div>
                    <div class="flex">
                        <a href="http://aloud.test/search?q={{ color_tags }}{{ title }}{{/color_tags}}">
                            {{ partial:color_tag}}
                        </a>
                    </div>
                    <div class="text-lg text-gray-800  overflow-ellipsis font-light">
                        {{ proverb }}
                    </div>
                        <a class="block w-full py-3 px-5 text-center chunky text-white bg-purple-600 hover:bg-purple-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-purple-700 focus:ring-white rounded-md shadow-md text-base font-medium sm:inline-block sm:w-auto" href="{{ url }}">Catch the Drop 💧</a>
                </div>
            </div>
        </div>
    {{ /posts }}
{{ /collection:drops }}