{{ paginate }}
        <div class="flex items-center justify-center space-x-8 text-center mx-auto">
            {{ if current_page === 1 }}
                {{ partial:first-btn }}
                <div> {{ current_page }} of {{ total_pages }} </div>
                {{ partial:next-btn }}
            {{ elseif current_page === total_pages }}
                {{ partial:prev-btn }}
                <div> {{ current_page }} of {{ total_pages }} </div>
                {{ partial:stop-btn }}
            {{ else }}
                {{ partial:prev-btn }}
                <div> {{ current_page }} of {{ total_pages }} </div>
                {{ partial:next-btn }}
            {{ /if }}
        </div>
{{ /paginate }}
