<div class="mx-auto">
    <div class="grid sm:grid-cols-2  items-center gap-8 ">
        <img src="{{ featured_image }}" class="rounded-3xl ">
        <div class="ml-4">
 
            <h1 class="text-5xl mb-2">{{ title }}</h1>
            
            <div class="flex ">
                    {{ partial:color_tag }}
                 <a class="text-sm ml-2 mt-1 align-middle text-gray-600">💧 Dropped {{ date }}</a>
             </div> 
            
            <div class="flex  my-6">
                <div class="">
                    <div class=" text-md ml-2">{{ proverb }}</div> 
                </div>
               
            </div> 
        </div>
        
    </div>
    <div class="grid grid-flow-col grid-cols-2 items-center">
        {{ if availability }} 
            <div class="flex space-x-3 mt-8 font-semibold tracking-widest uppercase mx-auto">
                <p>What's for sale?</p>
                {{ availability }} 
                    <a href="{{ url }}" class="bg-black hover:bg-red-800 text-white px-3 py-px rounded-full">{{ title }}</a>
                {{ /availability }}
            </div>
        {{ /if }}
    </div>
    <div class="space-y-12 mb-12">
        {{ featured_copy }}
    </div>
    {{ if related_posts }}
    <aside class="border-t-2 border-gray-300 my-24 py-8 max-w-2xl mx-auto">
            <h3 class="text-2xl">Other color parallels</h3>
                <div class="grid grid-flow-col grid-cols-2 gap-8 mt-16 mb-16">
                    {{ related_posts }}
                        {{ partial:card}}
                    {{ /related_posts }}
                </div>
            </aside>

    </aside>
    {{ /if }}
</div>