<div class="mx-auto">
    <div class="grid sm:grid-cols-2  items-center gap-8 ">
        <img src="{{ featured_image }}" class="rounded-3xl ">
        <div class="ml-4">
 
            <h1 class="text-5xl mb-2">{{ title }}</h1>
            
            <div class="flex ">
                    {{ partial:color_tag }}
                 <a class="text-sm ml-2 mt-1 align-middle text-gray-600">💧 Dropped {{ date }}</a>
             </div> 
            <div class="flex  my-6">
                <div class="">
                    <div class=" text-md">{{ proverb }}</div> 
                </div>
            </div> 
            <div class="sm:w-auto xl:w-max px-4 pt-4 pb-1 mr-4 rounded-md bg-white ">
                <button type="button" class="mb-3 inline-flex items-center mr-2 px-4 py-2 border border-transparent hover:shadow-md  text-base font-medium rounded-md text-white bg-purple-600 hover:bg-purple-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transform transition duration-100 active:scale-95 hover:scale-105">
                    &#160; Mint This Tee
                </button>

                <div class="has-tooltip disabled inline-flex items-center mb-3 px-4 py-2 border border-transparent text-base font-medium rounded-md text-gray-400 bg-gray-300 select-none ">
                    &#160; Tee Locked 
                    <span class='tooltip p-2 bg-white -mt-24 -ml-10 rounded-md shadow-lg text-gray-700 text-md text-light '>Tee must be 🌱 minted!</span>
                </div>
                <div class="align-middle pb-2 xl:pb-0 text-center xl:ml-2 inline-flex text-sm">Mint this tee to earn royalties &#160;<a href=""class="h-5 w-5 text-white text-bold rounded-full bg-purple-600 hover:bg-purple-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transform transition duration-100 active:scale-95 hover:scale-110">?</a></div>
             </div>
            
        </div>
    </div>
    <div class="grid grid-flow-col grid-cols-2 items-center">
        {{ if availability }} 
            <div class="flex space-x-3 mt-8 font-semibold tracking-widest uppercase mx-auto invisible sm:visile">
                
                {{ availability }} 
                    <p>What's for sale?</p>
                    <a href="{{ url }}" class="bg-black hover:bg-red-800 text-white px-3 py-px rounded-md">{{ title }}</a>
                {{ /availability }}
            </div>
        {{ /if }}
    </div>
    <div class="space-y-12 mb-12">
        {{ featured_copy }}
    </div>
    {{ if related_posts }}
    <aside class="border-t-2 border-gray-300 my-24 py-8 max-w-2xl mx-auto">
            <h3 class="text-2xl">Other color parallels</h3>
                <div class="grid grid-flow-col grid-cols-2 gap-8 mt-16 mb-16">
                    {{ related_posts }}
                        {{ partial:card}}
                    {{ /related_posts }}
                </div>
            </aside>

    </aside>
    {{ /if }}
</div>