
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


@import "tailwindcss/base";

@import "site";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.tooltip {
    @apply invisible absolute;
  }
  
  .has-tooltip:hover .tooltip {
    @apply visible z-50
  }
  
  .chunky{
    --tw-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), var(--tw-shadow) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0,0,0,0)), var(--tw-ring-shadow, 0 0 rgba(0,0,0,0)), var(--tw-shadow) !important;
   }

.underline-gradient {
    background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
    background-position: 0 100%;
    background-size: 100% 2px;
    background-repeat: repeat-x;
}


.bg-pattern {

    background-image: url('https://www.transparenttextures.com/patterns/soft-wallpaper.png');
}