
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');


@import "tailwindcss/base";

@import "site";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.tooltip {
    @apply invisible absolute;
  }
  
  .has-tooltip:hover .tooltip {
    @apply visible z-50
  }
  


.bg-pattern {

    background-image: url('https://www.transparenttextures.com/patterns/soft-wallpaper.png');
}